$bg-color: #F0EAD6;
$color-gris-noir: #373737;
$color-or: #F7F7F7;
$color-blanche: #FFF;
$color-noir: #000;

$font-principal: 'Kaushan Script', sans-serif;
$font-secondaire: 'Abril Fatface', sans-serif;
